<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">1984<a class="extra" href="#/extra">.</a></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#/home">Home</a>
      <a class="mdl-navigation__link" href="#/summary">Summary</a>
      <a class="mdl-navigation__link" href="#/characters">Characters</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="main">
      <h1 class="char-logo"><b>Characters<span class="color-black">.</span></b></h1>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col"><h3 class="color-white char-name"><b>Winston<span class="color-black">.</span></b></h3></div>
      </div>
      <div class="char-sec">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col"><p class="color-white">A minor member of the ruling Party in near-future London, Winston Smith is a thin, frail, contemplative, intellectual, and fatalistic thirty-nine-year-old. Winston hates the totalitarian control and enforced repression that are characteristic of his government. He harbors revolutionary dreams.</p></div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet"><img src="/images/winston.jpg" class="img-circle"></div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col"><h3 class="color-white char-name"><b>Julia<span class="color-black">.</span></b></h3></div>
      </div>
      <div class="char-sec">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col"><p class="color-white">Winston’s lover, a beautiful dark-haired girl working in the Fiction Department at the Ministry of Truth. Julia enjoys sex, and claims to have had affairs with many Party members. Julia is pragmatic and optimistic. Her rebellion against the Party is small and personal, for her own enjoyment, in contrast to Winston’s ideological motivation.</p></div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet"><img src="/images/julia.jpg" class="img-circle"></div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col"><h3 class="color-white char-name"><b>Mr. Charrington<span class="color-black">.</span></b></h3></div>
      </div>
      <div class="char-sec">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col"><p class="color-white"> An old man who runs a secondhand store in the prole district. Kindly and encouraging, Mr. Charrington seems to share Winston’s interest in the past. He also seems to support Winston’s rebellion against the Party and his relationship with Julia, since he rents Winston a room without a telescreen in which to carry out his affair. But Mr. Charrington is not as he seems. He is a member of the Thought Police.</p></div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet"><img src="/images/char.jpg" class="img-circle"></div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col"><h3 class="color-white char-name"><b>O’Brien<span class="color-black">.</span></b></h3></div>
      </div>
      <div class="char-sec">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col"><p class="color-white">O'Brien is a prominent leader in the Inner Party, although his official title is not clear. He seems to be close to Big Brother and may even be part of a collective that makes up Big Brother. O'Brien seems to be a co-conspirator and friend to Winston Smith until the third part of the novel, when he is revealed as a zealous Party leader who had been closely watching Winston for years.</p></div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell mdl-cell--12-col-tablet"><img src="/images/obrien.jpg" class="img-circle"></div>
        </div>
      </div>
    </div>
  </main>
</div>
