<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">1984<a class="extra" href="#/extra">.</a></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#/home">Home</a>
      <a class="mdl-navigation__link" href="#/summary">Summary</a>
      <a class="mdl-navigation__link" href="#/characters">Characters</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="main">
      <h1 class="char-logo"><b>Extra<span class="color-black">.</span></b></h1>
      <div class="char-sec">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <a href="https://en.wikipedia.org/wiki/Aedh_Wishes_for_the_Cloths_of_Heaven"><img class="img-extra" src="/images/funny/4.jpg"></a>
            <br>
            <a href="https://books.google.com/books?id=j24GMN0OtS8C&pg=PT133&lpg=PT133&dq=%E2%80%9C...they+discovered+only+a+small+asteroid+inhabited+by+a+solitary+old+man+who+claimed+repeatedly+that+nothing+was+true,+though+he+was+later+discovered+to+be+lying.%E2%80%9D&source=bl&ots=QWDU6N2JaR&sig=WqekkV-r6-J8rHZf3KHXCJMAKDc&hl=en&sa=X&ved=0CDcQ6AEwBGoVChMIysLOp_eEyQIVUPFjCh0MTAKr#v=onepage&q=%E2%80%9C...they%20discovered%20only%20a%20small%20asteroid%20inhabited%20by%20a%20solitary%20old%20man%20who%20claimed%20repeatedly%20that%20nothing%20was%20true%2C%20though%20he%20was%20later%20discovered%20to%20be%20lying.%E2%80%9D&f=false"><img class="img-extra" src="/images/funny/1.jpg"></a>
            <br>
            <a href="http://www.poetryfoundation.org/poem/177119"><img class="img-extra" src="/images/funny/2.jpg"></a>
            <br>
            <a href="http://www.goodreads.com/quotes/71624-there-was-a-girl-and-her-uncle-sold-her-put"><img class="img-extra" src="/images/funny/3.jpg"></a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
