<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">1984<a class="extra" href="#/extra">.</a></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#/home">Home</a>
      <a class="mdl-navigation__link" href="#/summary">Summary</a>
      <a class="mdl-navigation__link" href="#/characters">Characters</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="main">
      <div id="draw">
      </div>
      <div id="ellipse" class="eyes">
          <div class="left_eye">
              <div class="pupil"></div>
          </div>
          <div class="right_eye">
              <div class="pupil"></div>
          </div>
      </div>
      <h1 class="main-logo"><b>BIG BROTHER IS</b></h1>
      <h1 class="sub-logo"><b>WATCHING YOU</b></h1>
    </div>
  </main>
</div>
